body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  background-color: #292929;
  overflow: hidden;
}

.kwdc-body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  position: absolute;
  max-width: 1400px;
  width: 95%;
  height: 95%;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kwdc-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
  z-index: 99;
}

.kwdc-logo {
  margin-left: 20px;
}

.nav-bar {
  display: flex;
  margin-right: 20px;
}

.nav-bar {
  cursor: pointer;
}

.nav-bar > div:first-child {
  margin-right: 45px;
}

.active {
  color: #838383;
}

.contents {
  width: 100%;
  margin: 20px;
  padding-bottom: 20px;
}
.contents > div {
  margin: 0 30px;
}

.contents > .title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.contents > .sub-title {
  color: #838383;
  font-size: 50px;
  font-weight: 700;
}

.content {
  color: #fff;
  overflow-y: scroll;
  height: calc(100vh - 200px);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.sub-content-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sub-content-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.content li {
  margin: 30px 0;
  margin-left: -20px;
}

.content ul li::marker {
  color: #f1d34a;
}

.content ol li::marker {
  color: white;
}

.sub-content {
  margin: 25px 0;
}

.sub-content-title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 48px;
}

.sub-content-body {
  font-size: 17px;
  border: 1px;
  border-radius: 7px;
  background-color: rgba( 255, 255, 255, 0.1 );
  margin-top: 20px;
  padding: 10px;
}

.sub-content-body-bottom {
  margin-bottom: 80px;
}

.sub-content-boxes {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sub-content-box {
  border: 1px solid white;
  border-radius: 7px;
  display: inline-block;
  width: 23%;
  height: 90px;
  margin: 10px;
}

.sub-content-box-text {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
}

.sub-content-box-text p {
  font-size: 14px;
  margin: 0%;
}

.sub-content-box-text b {
  font-size: 15px;
}

.sub-content-box-text p b {
  font-weight: bold;
  font-size: 14px;
}

.sub-content-body li {
  margin: 20px 0;
  margin-left: -5px;
  margin-right: 10px;
}


@media (max-width: 767px) {
  img {
    content: url("./images/forMobile2.jpg");
    object-fit: contain;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .kwdc-body {
  }
  .kwdc-header {
    font-size: 20px;
    padding: 10px;
  }

  .content > ul > li {
    font-size: 20px;
  }

  .contents > .title {
    font-size: 48px;
  }

  .contents > .sub-title {
    font-size: 32px;
    font-weight: 700;
  }

  .sub-content-title {
    font-size: 25px;
  }
  .sub-content-body {
    font-size: 18px;
  }
  .sub-content-boxes {
    flex-direction: column;
  }
  .sub-content-box {
    width: 90%;
  }

  .sub-content-body li {
    margin-right: 30px;
  }
}
